*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

html,body{
    display: flex;
    width: 100vw;
    background-color: grey;
    font-size: 30px;
}

.items{
    display: flex;
    flex-direction: row;
    margin: 15px;
    padding: 10%;
}

ul{
    display: flex;
    list-style: none;

}

li{
    display: flex;
    padding: 10%;
    background-color: rgb(244, 170, 225);
}

li:hover{
    background-color: rgb(244, 93, 206);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.active{
    background-color: rgb(248, 5, 98);
    color: white;
}

.active:hover{
    background-color: rgb(248, 5, 98);
}


.logo{
    background-color: rgb(244, 170, 225);
    font-weight: 600;
    font-size: 110px;
    padding: 0.5%;
}

.logo:hover{
    background-color: rgb(244, 93, 206);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

i{
    margin-right: 10px;
}

.nav{
    display: flex;
    justify-content: space-between;
}
