*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color: #bfc6d4;
  
}

.main-heading{
  position: fixed;
  left: 43%;
  padding-top: 15px;
}

.container{
  width: 80%;
  height: 80%;
  border: solid 1px #667085;
  background-color: #212631;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  color: #fff;
}

.difficulty{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

button{
  background-color: #000;
  color: #bfc6d4;
  border-radius: 5px;
  border-style: none;
  height: 40px;
  margin-right: 50px;
  font-size: 28px;
  width: 7em;
}

button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

button:active{
  background-color: #252020;
  color: #000;
}


/*change*/
.difficulty button{
  width: 4em;
}

.difficulty p{
  font-size: 100%;
  height: 40px;
  width: 150px;

}

.left-btn{
  margin-left: 30px;
}

.inputs{
  display: flex;
}

.topic-input{
  display: flex;
}

.topic-input button{
  margin-top: 28px;
  width: 5em;
}

.topic-input input{
  border: solid 1px #667085;
  background-color: #aaabac;
  margin-right: 66px;
  margin-left: 42px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 80%;
  width: 190px;
}

.generate button{
  margin-top: 15px;
}

.analysis{
  font-size: 18px;
}

.analysis ul{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(5,auto);
  gap: 20px;
  padding-top: 40px;
  padding-left: 50px;
}

.analysis ul li{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
  color: #000;
  width: 90%;
  list-style: none;
}

.submit-container{
  height: 200vh;
  transform: none;
  top: 10%;
  left: 10%;
}

.score{
  display: flex;
  justify-content: center;
}

.score p{
  margin-top: 40px;
  margin-bottom: 10px;
}

/*change end*/

.generate{
  height: 12%;
  display: flex;
  justify-content: center;

}

.question{
  border: solid 1px #667085;
  border-radius: 20px;
  background-color: #373f4e;
  margin: 15px 3.5%;
  padding: 15px 25px;
  padding-right: 0;
  width: 90%;
}

.options{
  display: grid;
  grid-template-columns: auto auto;
  
}

.option{
  border: solid 1px #667085;
  background-color: #373f4e;
  margin-right: 66px;
  margin-left: 42px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 25px;
  border-radius: 20px;
}

.option:hover{
  background-color: #667085;
  color: #000;
  cursor: pointer;
  box-shadow: #000 ;
}

.utility-btns{
  display: flex;
  justify-content: space-between;
}

.utility-btns button{
  margin-top: 22px;
  margin-left: 42px;
  margin-right: 66px;
}




/*Loading Effect*/

/* From Uiverse.io by mobinkakei */ 
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
  left: 500px;
  top: 120px;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
